@font-face {
    font-family: 'Poppins';
    src: url(src/fonts/Poppins-Regular.ttf) format("truetype");
    font-style: normal;
    font-weight: normal;
}

@font-face {
    font-family: 'Poppins';
    src: url(src/fonts/Poppins-Bold.ttf) format("truetype");
    font-style: normal;
    font-weight: bold;
}

@font-face {
    font-family: 'Poppins';
    src: url(src/fonts/Poppins-Medium.ttf) format("truetype");
    font-style: normal;
    font-weight: medium;
}

@font-face {
    font-family: 'Poppins';
    src: url(src/fonts/Poppins-Light.ttf) format("truetype");
    font-style: normal;
    font-weight: light;
}

@font-face {
    font-family: 'Lobster';
    src: url(src/fonts/Lobster-Regular.ttf) format("truetype");
    font-style: normal;
    font-weight: normal;
}